body{
margin: 0;
display: flex;
align-items: center;
justify-content: center;

}

.container {
    height: 400px;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    background: rgb(46, 46, 78);
}

#loginModal{
    background: rgb(46, 46, 78);
}

.btn {
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}


